nav{
  position:fixed;
  z-index:2;
  background-color:$white;
  width:100%;
  a{
    color:$text-gray;
    &:hover{
      color:black;
    }
  }
  input{
    width:25vw;
    height:40px;
    background-color: $gray;
    border-radius:25px;
    border-style:hidden;
    padding-left:10px;
    &:hover{
      border:1px solid $text-gray;
    }
  }
}
#mobile-icons{
  display:none;
  font-size:30px;
  margin:15px 0;
}
#home{
  color:black;
}
#submit-photo{
  border:1px solid $text-gray;
  border-radius:5px;
  padding:7px 10px;
  &:hover{
    border-color: black;
  }
}

#join-btn{
  color:white;
  border-radius:5px;
  background-color:#3cb46e;
  padding:7px 10px;
  &:hover{
    background-color: darken(#3cb46e,2%);
  }
}

#main-nav , .lower-nav, #mobile-icons{
  @include flex-center;
  padding-bottom:10px;
}

.lower-nav{
  width:1300px;
  overflow-x:hidden;
}

#unsplash-icon {
  height:64px;
  width:64px;
}
